h1 {
    margin-left: 10px;
    color: #008CBA;
    font-size: 25px;
    font-family: "Helvetica Neue", "Helvet"
}

.coverPageInp{
    margin-left:  10px;
    margin-top: 10px;
    border : solid 3px;
    border-color: gray; 
    width: 35%;    
    
}

label{
    margin-right : 10px;
    margin-left : 10px;

}

input {
    color : darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    margin-left: 10px;      
    margin-bottom: 5px;
    
    
}